<div class="top-feeder">
  <h1>Change Password</h1>
</div>

<%= form_for(@user, url: change_password_user_path(@user)) do |f| %>
    <div class="field">
      <%= label_tag :old_password, 'Old Password', :class => 'editor-label' %>
      <%= password_field_tag :old_password %>
    </div>

    <div class="field">
      <%= f.label :password, :class => 'editor-label' %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class => 'editor-label' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="bottom-feeder clear">
      <div class="new">
        <%= button_tag fa_icon('fa-key') + 'Change Password', :class => 'button' %>
        <%= link_to fa_icon('fa-times-circle-o') + 'Cancel', profile_path, :class => 'button' %>
      </div>
    </div>
<% end %>
