<% page_heading 'Post by User: ' + @user.name %>

<div class="top-feeder">
  <span class="pull-right">
    <%= link_to fa_icon('fa-user') + ' ' + 'Profile', @user, :class => 'button' %>
    <% if can?(:read, Referer) %>
      <%= link_to fa_icon('fa-external-link-square') + ' ' + 'Referers', referers_user_path(@user), :class => 'button' %>
    <% end %>
  </span>

  <h1>Posts by <%= @user.name %></h1>
</div>

<% if @user.posts_count > 0 %>
    <%= render 'threads', :threads => @board_threads  %>
<% else %>
    <strong>No posts</strong>
<% end %>

<div class="bottom-feeder clear">
  <div class="new">
    <%= will_paginate @board_threads %>
  </div>
</div>