<div class="top-feeder">
  <h1>New Video Thread</h1>
</div>

<%= render 'post_help' %>

<%= form_for(@board_thread, :url => url_for(:controller => 'videos', :action => 'create')) do |f| %>
    <% if @board_thread.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@board_thread.errors.count, "error") %> prohibited this board_thread from being saved:</h2>

          <ul>
            <% @board_thread.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title, :class => 'editor-label' %>
      <%= f.text_field :title %>
    </div>

    <%= f.fields_for :posts do |g| %>
        <div class="field">
          <%= g.label :text, :class => 'editor-label' %>
          <%= g.text_area :text, size: '60x15', :placeholder => 'At least 20 characters of text required' %>
        </div>
    <% end %>

    <%= f.fields_for :video do |g| %>
        <div class="field">
          <%= g.label :video, :class => 'editor-label' %>
          <% if @board_thread.video.video? %>
              <%= g.hidden_field :video_cache %>
              <%= File.basename(@board_thread.video.video.to_s) %>
          <% else %>
              <%= g.file_field :video %>
              <%#= g.text_field :remote_video_url %>
          <% end %>
        </div>
    <% end %>

    <div class="bottom-feeder clear">
      <div class="new">
        <%= f.hidden_field :name_space_id %>
        <%= f.submit 'Save Thread', :class => 'button' %>
      </div>
    </div>
<% end %>
