<% page_heading 'Warn user: ' + @user.name %>

<div class="top-feeder">
  <h1>Warn user: <% @user.name %></h1>
</div>

<%= form_for [@user, @warning] do |f| %>
    <% if @warning.errors.any? %>
        <div id="error_explanation">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @warning.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :reason, :class => 'editor-label' %>
      <%= f.text_field :reason %>
    </div>

    <div class="bottom-feeder clear">
      <div class="new">
        <%= f.submit 'Create Warning', :class => 'button' %>
      </div>
    </div>
<% end %>
