<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
        <% @wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @wiki.new_record? %>
    <div class="field">
      <%= f.label :name, :class => 'editor-label'  %>
      <%= f.text_field :name %>
    </div>
  <% end %>

  <%= f.fields_for :revisions do |g| %>
    <% if g.object.new_record? or g.object == @wiki.last_revision %>
      <div class="field">
        <%= g.label :content, :class => 'editor-label'  %>
        <%= g.text_area :content, size: '60x15' %>
      </div>
    <% end %>
  <% end %>

  <div class="bottom-feeder clear">
    <div class="new">
      <%= f.submit 'Save Wiki', :class => 'button' %>
    </div>
  </div>
<% end %>